.banner {
    position: relative;
    left: 100px;
    height: 223px;
    width: 1140px;

    @media screen and (max-width:767px) {
        width: 383px;
        height: 120px;
        left: 20px;
        top: 10px;
    }

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
        opacity: 0.5;
        mix-blend-mode: darken;
        background: black;

        @media screen and (max-width:767px) {
            border-radius: 10px;
            object-fit: none;
        }
    }

    p {
        position: absolute;
        top: 32px;
        left: 286px;
        color: #FFFFFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;

        @media screen and (max-width:767px) {
            top: 11px;
            left: 16px;
            font-size: 24px;
            width: 180px;
        }
    }
}