.button {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1023px;
    border-radius: 5px;

    @media screen and (max-width:767px) {
        width: 374px;
    }

    @media screen and (min-width:768px) and (max-width:992px) {
        width: 710px;
    }

    .titlearrow {
        display: flex;
        align-items: center;
        height: 52px;
        background: #FF6060;
        width: 100%;

        @media screen and (max-width:767px) {
            height: 30px;
        }

        .title {
            width: 956px;
            height: 32px;
            margin-left: 12px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            color: white;

            @media screen and (max-width:767px) {
                height: 16px;
                width: 323px;
                font-size: 15px;
            }

            @media screen and (min-width:768px) and (max-width:992px) {
                width: 662px;
                height: 28px;
            }
        }

        a {
            img {
                position: absolute;
                top: 16px;
                object-fit: contain;
                width: 25px;
                height: 20px;

                @media screen and (max-width:767px) {
                    top: 5px;
                }
            }
        }
    }

    .description {
        background: aliceblue;
        color: #FF6060;
        padding: 1px 8px 1px 8px;
        border-radius: 0px 0 5px 5px;

        p{
            transform: scaleX(1);
            animation: apparition 3s;
        }
    }
}

@keyframes apparition {

0% {
opacity: 0;
}

25% {
opacity: 0.2;
}

50% {
opacity: 0.6;
}

75% {
opacity: 0.8;
}

100% {
opacity: 1;
}
}

.collapse-arrow-down {
    transform: rotate(270deg);
}

.collapse-arrow-up {
    transform: rotate(90deg);
}