.headers {
    display: flex;
    justify-content: space-between;
    margin: 45px 100px 50px 100px;

    .logo {
        height: 48px;
        width: 180px;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        gap: 57px;
        list-style: none;

        .linknavigation {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;

            a {
                color: #FF6060;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}