.headers {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 45px 100px 50px 100px;
    width: 1140px;

    @media screen and (max-width:767px) {
        width: 335px;
        height: 45px;
        margin: 20px;
    }

    @media screen and (min-width:768px) and (max-width:992px) {
        width: 710px;
        margin-left: 20px;
    }

    .logo {
        height: 48px;
        width: 180px;

        @media screen and (max-width:767px) {
            width: 115px;
            height: 45px;
        }
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        gap: 57px;
        list-style: none;

        @media screen and (max-width:767px) {
            gap: 24px;
            margin-left: 72px;
        }

        .linknavigation {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;

            @media screen and (max-width:767px) {
                font-size: 12px;
                text-transform: uppercase;
                width: 66px;
            }

            a {
                color: #FF6060;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}