.imgabout {
    position: relative;
    left: 100px;
    height: 223px;
    width: 1140px;
    border-radius: 25px;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: darken;
    background: black;
}

.collapse {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}